* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(98, 142, 117);
  background: linear-gradient(
    135deg,
    rgba(98, 142, 117, 1) 5%,
    rgba(26, 72, 85, 1) 75%
  );
  height: 1vh;
}

header {
  max-width: 1100px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  max-width: 120px;
}

.icons a {
  padding: 0 10px;
}

h2 {
  font-family: "Poppins", "Courier New", Courier, monospace;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 20px;
}

h1 {
  font-family: "Poppins", "Courier New", Courier, monospace;
  line-height: 1;
  color: #f9f9f9;
  font-weight: 900;
  font-size: 68px;
}
p {
  font-family: "Poppins", "Courier New", Courier, monospace;
  color: #f9f9f9;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  padding: 30px 0px;
}

main {
  max-width: 1100px;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 170px 40px;
  margin: 0 auto;
}

.ghost {
  display: block;
  width: 100%;
  transform: translateY(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.wrapper-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 10px;
  padding-right: 20px;
}
.button {
  font-family: "Poppins", "Courier New", Courier, monospace;
  color: #f9f9f9;
  font-weight: 500;
  transition: 0.3s;
  padding: 10px;
  text-align: center;
}

.button {
  background-repeat: no-repeat;
  background-position: center;
}

.button:hover {
  text-decoration: underline;
}

#btn-nom {
  background-image: url(/image/Vector\ 8.png);
}

#btn-spc {
  background-image: url(/image/Vector\ 2.png);
}

footer {
  text-align: center;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }
  .wrapper-sobre {
    order: 2;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  .wrapper-button {
    display: grid;
    grid-template-columns: 1fr;
  }

  #btn-spc {
    display: none;
  }
  .logo {
    max-width: 100px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 10pxs;
  }
}
