* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: rgb(98,142,117);
    background: linear-gradient(135deg, rgba(98,142,117,1) 5%, rgba(26,72,85,1) 75%);
    padding: 4% 15% 10%;
}

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 40%;

}

.icons{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

h2{
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: #f9f9f9;
    font-weight: 600;
    font-size: 150%;
}

h1{
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: #f9f9f9;
    font-weight: 900;
    font-size: 400%;
}

p{
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: #f9f9f9;
    font-weight: 400;
    font-size: 110%;
    line-height:160%;
    padding: 5% 0%;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.ghost{
    width: 90%;
    padding: 5% 20%;
}

.button1{
    padding: 10px 40px;
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: #f9f9f9;
    font-weight: 500;
    background-image: url(/image/vector1.svg);

}

.button2{
    padding: 10px 40px;
    font-family: 'Poppins','Courier New', Courier, monospace;
    color: #f9f9f9;
    font-weight: 500;
    background-image: url(/image/vector2.svg) ;
    background-size: cover;
    background-position: center;
    position: relative;
}